.peace-extension-warning {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d44747;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.peace-extension-warning .peace-extension-warning-header {
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

.peace-extension-warning .peace-extension-warning-btn {
    margin-top: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 4px 8px;
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

    cursor: pointer;

    transition: 0.1s box-shadow linear;
}

.peace-extension-warning .peace-extension-warning-btn:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.peace-extension-warning .peace-extension-warning-percent {
    font-weight: 600;
}
